<div class="modal fade" id="topic-model" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">New Topic</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_for [:manage, @current_account, @subject, @topic], local: false, remote: true, html: { novalidate: true, class: "g-3 needs-validation" } do |form| %>
        <div class="modal-body">
          <div class="modalIllustration">
            <%= image_tag 'add-folder.png', class: "modalIllustrationImg"%>
          </div>
          <%# <div class="col-12 has-validation"> %>
            <%#= form.label :subject_id, "Subject:", class: "form-label", for: "topic_subject_id" %>
            <%#= form.select :subject_id, Subject.all.map { |s| [s.name, s.id] }, { prompt: "Select Subject" }, class: "form-control", required: true %>
            <%# <div class="invalid-feedback">Please enter Subject.</div> %>
            <div class="col-12 has-validation">
              <%= form.label :name, "Topic Name:", class: "form-label", for: "Topic_name" %>
              <%= form.text_field :name, placeholder: "Enter Topic name", class: "form-control", required: true %>
              <div class="invalid-feedback">Please enter Topic name.</div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
            <%= form.submit "Submit", class: "btn btn-theme btn-sm" %>
          </div>
        </div>
      <% end %>  
    </div>
  </div>
</div>
