<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading"><%= resource_name.to_s.humanize %> - Forgot your password?</div>
    <div class="panel-body row">
      <div class="col-md-10 col-md-offset-1">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Send me reset password instructions" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
