<div class="clearfix row align-items-center">
  <div class="col-md-6">
    <div class="hint-text">
      Showing <b><%= data.offset + 1 %></b>
      - <b><%= data.offset + data.length %></b>
      out of <b><%= data.total_entries %></b> entries
    </div>
  </div>

  <div class="col-md-6 d-flex justify-content-end">
    <ul class="pagination mb-0">
      <li class="page-item <%= 'disabled' if data.current_page == 1 %>">
        <%= link_to 'Previous', url_for(page: data.current_page - 1, controller: controller_name), remote: true, class: 'page-link' %>
      </li>

      <% delta = 2 %>
      <% pages = [] %>
      <% if data.total_pages <= 1 %>
        <% pages = (1..data.total_pages).to_a %>
      <% else %>
        <% pages << 1 unless data.current_page <= 1 + delta %>
        <% pages += (data.current_page - delta..data.current_page + delta).to_a.select { |page| page > 0 && page <= data.total_pages } %>
        <% pages << data.total_pages unless data.current_page >= data.total_pages - delta %>
      <% end %>

      <% last_page = nil %>
      <% pages.each do |page| %>
        <% if last_page && page != last_page + 1 %>
          <li class="page-item disabled"><span class="page-link">...</span></li>
        <% end %>
        <li class="page-item <%= 'active' if page == data.current_page %>">
          <%= link_to page, url_for(page: page, controller: controller_name), remote: true, class: 'page-link' %>
        </li>
        <% last_page = page %>
      <% end %>

      <li class="page-item <%= 'disabled' if data.current_page == data.total_pages %>">
        <%= link_to 'Next', url_for(page: data.current_page + 1, controller: controller_name), remote: true, class: 'page-link' %>
      </li>
    </ul>
  </div>
</div>
